
build/
bin/
obj/
ListSmarter/build/
ListSmarter/bin/
ListSmarter/obj/

ListSmarter.ConsoleUI/build/
ListSmarter.ConsoleUI/bin/
ListSmarter.ConsoleUI/obj/


ListSmarter.api/build
ListSmarter.api/bin
ListSmarter.api/obj

# NuGet
packages/
*.nupkg
*.pckg
.vs/
.fake